#Titulo{
    text-align: center;
    text-decoration-line: underline;
    
}
img{
    display: block;
    margin: auto;
}
#parrafo1{
    text-align: justify;
}
#tabla{
    text-align: center;
    
}
#titulotabla{
    background-color: orange;
    font-weight: 800;
    color:black;
}
th{
    color:yellow;
}
#nombregrupo{
    color: red;
    font-weight: 900;
}


