body{
    background-color: lemonchiffon;
}
#Titulo{
    text-align: center;
    
}
#imagen{
    
}
#parrafo1{
    text-align: justify;;
}
#tabla{
    text-align: center;
}
#titulotabla{
    background-color: orange;
    font-weight: 800;
}